[flake8]
max-line-length = 79
extend-ignore = E501, E203, W503, E712, W605
exclude =
    backend/alembic/versions/*,
    backend/db/base.py,
    .git,
    __pycache__,
    .tox,
    .eggs,
    *.egg,
    .venv,
    venv,
    alembic/