[tool.black]
line-length = 79
target-version = ['py38', 'py39', 'py310','py311']
extend-exclude = '''
(
  \.venv
  | venv
  | build
  | dist
  | alembic
)
'''
[tool.isort]
profile = "black"
line_length = 79
multi_line_output = 3
force_grid_wrap = 0
skip_gitignore = true
skip_glob = ["**/alembic/*"]
src_paths = ["app"]